extends layout

block content
    div(class="jumbotron")
        h1 Spotify Song Miner
        p(class="lead") This is a project to create a new Spotify playlist, through a Data Mining process, using an existing playlist selected by the user.
        p(class="lead") Please login with your Spotify account to continue.
        p: a(class="btn btn-lg btn-success" href="/login" role="button") Login with Spotify
