extends layout

block content
    h1 Welcome, #{user.display_name}
    hr
    p(class="lead") Please choose one of your playlists to begin
        each val in playlists
            div(class="row")
                div(class="col-md-12")
                    button(class="btn btn-primary btn-block" role="button" onclick="submitPlaylist(\"#{val.id}\")") #{val.name}
    form(method="post" action="/playlist" id="playlist-form")
        input(type="hidden" name="playlistId" id="playlist-id")
    script.
        function submitPlaylist(id) {
            $("#playlist-id").val(id);
            $("#playlist-form").submit();
        }